{% extends "base.html.twig" %}
{% block title %}Read {{title}} {% endblock %}
{% block body %}
    {{dump()}}
<h1>{{title}}</h1>  
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed blandit quam. Nunc fringilla interdum nulla, eu fermentum lacus tempor sed. Etiam sit amet sem et ex sagittis blandit ac sed ex. Nunc tincidunt ultrices enim ac varius. Sed eu massa porttitor, suscipit eros ut, auctor ligula. Suspendisse nec interdum augue. Quisque auctor eros ac suscipit feugiat. Ut a pulvinar massa. Curabitur pulvinar justo sem, in vehicula ipsum mollis quis. Etiam vitae enim ac lorem aliquet tempus. Nulla vulputate quam enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vulputate luctus augue non ultrices. Nulla facilisi.
    </p>
    <p>
        Proin in tortor et erat viverra rutrum eu quis justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a ante in purus aliquet dapibus eu vitae dolor. Nunc ac diam quis lorem efficitur iaculis id tempor orci. Nam mollis dolor eget leo rutrum aliquam vitae vitae eros. Fusce hendrerit maximus fermentum. Pellentesque non lobortis sapien, eget semper quam. Fusce maximus hendrerit pretium. Aliquam sed ante cursus, fermentum lectus vel, placerat sem. Sed vel ullamcorper est, tempus scelerisque ex. Etiam sit amet nisi ipsum. Fusce dui augue, venenatis eget auctor non, blandit laoreet elit. In nulla tortor, dapibus quis consectetur quis, pulvinar quis dolor. Nullam quis justo tincidunt nulla blandit vestibulum.
    </p>
    <p>
        Praesent est enim, faucibus non tempor a, facilisis et magna. Nulla facilisi. Curabitur turpis tellus, feugiat a libero id, sodales venenatis sapien. Vestibulum feugiat ipsum eget lacus maximus, id placerat tortor facilisis. Ut venenatis vehicula ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac pellentesque justo, sed sagittis eros. Morbi lacus ante, porttitor eget massa id, fringilla faucibus urna. Fusce at laoreet risus. Etiam tristique ligula et elit blandit ultricies. Mauris maximus luctus dolor. Proin vitae velit diam. Proin bibendum egestas quam id hendrerit.
    </p>
    <p>
        Vivamus pharetra molestie metus feugiat aliquam. Etiam placerat volutpat ipsum, sit amet blandit diam rhoncus quis. Sed in sagittis arcu, cursus porta nulla. Sed molestie erat sit amet facilisis mollis. Aliquam eu pellentesque turpis, ac cursus tellus. Quisque non tristique velit, vitae blandit justo. Praesent eget mauris lacus. Vestibulum eu dignissim mi. Praesent vestibulum vestibulum aliquet. In magna turpis, semper vitae molestie ac, vehicula ut ante. Etiam dolor felis, pellentesque at suscipit sed, fermentum non neque. Praesent rutrum, lacus quis imperdiet fermentum, eros tortor iaculis lacus, at iaculis enim velit at sapien. Phasellus sit amet pulvinar dolor.
    </p>
    <p>
        In sed rutrum orci. Etiam tristique at lacus vel porta. Mauris auctor magna odio, non accumsan metus scelerisque a. Vivamus gravida, mauris a mollis pretium, arcu turpis viverra tellus, nec venenatis ante augue in dolor. Fusce mauris orci, suscipit eget bibendum at, interdum egestas lorem. Suspendisse sed commodo neque, nec blandit lorem. Quisque ut tristique arcu, tempor bibendum orci. Sed accumsan lorem augue, quis eleifend felis imperdiet sed. Aliquam erat volutpat. Ut ac risus blandit, euismod nisi nec, dignissim arcu. Fusce nec fringilla leo. Nullam porttitor sem vestibulum, suscipit ligula ac, vehicula nibh. Maecenas eu molestie orci, eu elementum urna. Vivamus rutrum odio quam, at aliquet eros consectetur vel.
    </p>
</div>
<hr />
<h2>Comments</h2>
<ul>
    {% for comment in comments %}
        <li>{{comment}}</li>
        {% endfor%}
</ul>
{% endblock %}